<section id="content">
<h2>Foglalás</h2>

<%= flash[:notice] unless flash[:notice].blank? %>

<form id="order-form" action="/foglalas/koszonjuk" method="POST">
<div class="row top">
	<h3><%= @travel_offer.travel_name %></h3>
	<p><span class="dates"><%= @travel_time.from_date.to_s(:year_month_day) %> - <%= @travel_time.from_date.to_s(:year_month_day) %></span> <span class="price"><%= @travel_time.price %> Ft</span></p>
</div>

<input type="hidden" value="<%= @travel_time.id %>" name="traveltime" id="traveltime" />

<fieldset class="left">
<div class="r">
	<label for="name">Név</label>
	<input required="required" type="text" id="name" name="name" />
</div>
<div class="r">
	<label for="email">Email cím</label>
	<input required="required" type="email"  id="email" name="email" />
</div>
<div class="r">
	<label for="com">Megjegyzés</label>
	<textarea name="com" id="com" cols="30" rows="5"></textarea>
</div>
</fieldset>

<fieldset class="right">
	<div class="r">
		<label for="prefix">Telefonszám</label>
		+36 - <input id="prefix" name="prefix" type="text" /> - <input type="text" name="number" id="number" />
	</div>
	<div class="r">
		<label for="head">Felnőtt</label>
		<input type="number" min=0 id="head" name="head" value="2">
	</div>
	<div class="r">
		<label for="head">Gyermek (14 év alatt)</label>
		<input type="number" min=0 id="children" name="children" value="2">
	</div>
</fieldset>


<input type="submit" value="Foglalás &raquo;">

</form>

<div id="comment">
	<div class="sidebox" id="services">
		<h3>Utasbiztosítás</h3>
		<p>Az <a href="/biztositasok">utasbiztosításokat</a> személyre szabva intézzükk. Amennyiben pontos elképzelései vannak kérjük írja be a megjegyzés mezőbe.</p>
	</div>
</div>

</section>