<section id="content">
<h2>Egyéni útszervezés</h2>
<form id="personalized-form" action="/foglalas/koszonjuk" method="POST">
<% unless @full_personalized %>
	<div class="row"><h3><%= @travel_offer.travel_name %></h3> <span class="dates"><%= @travel_time.from_date.to_s(:year_month_day) %> - <%= @travel_time.to_date.to_s(:year_month_day) %></span> <span class="price"><%= @travel_time.price %> <%= @travel_time.price_measure %>, <%= @travel_time.night %> éjszaka</span></div>

	<input type="hidden" value="<%= @travel_time %>" name="traveltime" id="traveltime" />
<% else %>
	<input type="hidden" value="0" name="traveltime" id="traveltime" />
<% end %>
<fieldset>
<div class="r">
	<label for="name">Név</label>
	<input required="required" type="text" id="name" name="name" />
</div>
<div class="r">
	<label for="email">Email cím</label>
	<input required="required" type="email"  id="email" name="email" />
</div>
<div class="r">
	<label for="prefix">Telefonszám</label>
	+36 - <input id="prefix" name="prefix" type="text" /> - <input type="text" name="number" id="number" />
</div>

</fieldset>

<fieldset>
	<div class="r">
		<label for="com">Kívánt út leírása</label>
		<textarea name="com" id="com" cols="30" rows="9"></textarea>
	</div>
</fieldset>

<input type="submit" value="Küldés &raquo;">

</form>

<div id="comment">
	<div class="sidebox" id="services">
		<h3>Útszervezés</h3>
		<p>Kérjük vegye figyelembe, hogy sok idő lehet.</p>
	</div>
</div>

</section>