<%= form_for 'search', :url => '/list', :html => {:id => 'advanced-search'} do |f| %>
	<h2>Összetett keresés</h2>
	<fieldset>
		<legend>Utazás időpontja</legend>
		<div id="precise-row" class="row">
			<div class="group">
				<%= f.label "arrival", "Érkezés" %>
				<%= f.text_field "arrival", :class => "datepicker", :type => "date", :value => (@filt[:arrival] if @filt) %>
			</div>
			<div class="group">
				<%= f.label "departure", "Távozás" %>
				<%= f.text_field "departure", :class => "datepicker", :type => "date", :value => (@filt[:departure] if @filt) %>
				<span class="left">(<span id="search_between">-</span> éjszaka)</span>
			</div>
			<div class="group">
				<%= f.label "flexibility", "Rugalmasság" %>
				<%= f.select "flexibility", options_for_select([['+/- 1 nap', 1], ['+/- 3 nap', 3],['+/- 1 hét', 7],['Nincs', 0]], (@filt[:flexibility] if @filt)) %>
			</div>
		</div>
		<div id="imprecise-row" class="row">
			<div class="group">
				<%= f.label "imprecise", "Körülbelül mikor utaznék" %>
				<%= f.select "imprecise", (grouped_options_for_select([['Hónapok', monthsForSelect],['Időszakok', periodsForSelect]], (@filt[:imprecise] if @filt)) + options_for_select([['Nem tudom', 0]], (@filt[:imprecise] if @filt))) %>
			</div>
		</div>
		<div class="row">
			<div class="group">
				<%= f.label "no_date", "Nincs pontos dátumom" %>
				<%= f.check_box "no_date", { :checked => @no_date_checked} %>
			</div>
		</div>
	</fieldset>
	<fieldset>
			<legend>Úticél</legend>
			<div class="row">
				<div class="group">
					<%= f.label "country", "Ország" %>
					<%= f.select "country", [['-- Mindegy --', 0]] + Country.all.collect {|p| [ p.name, p.id ] }, {:selected => (@filt[:country] if @filt)} %>
				</div>
				<div class="group">
					<label for="search_region">Régió</label>
					<select name="search[region]" id="search_region">
						<option value="0">-- Mindegy --</option>
						<%= options_for_select @regions.collect {|p| [p.name, p.id]}, {:selected => (@filt[:region] if @filt)} %>
					</select>
				</div>
				<div class="group">
					<label for="search_city">Város</label>
					<select name="search[city]" id="search_city">
						<option value="0">-- Mindegy --</option>
						<%= options_for_select @cities.collect {|p| [p.name, p.id]}, {:selected => (@filt[:city] if @filt)} %>
					</select>
				</div>
			</div>
	</fieldset>
	<fieldset>
		<legend>Utazás ára/fő</legend>
		<div class="row">
			<div class="group">
				<%= f.label "price", "ár/fő" %>
				<!--<%= f.text_field "max_price_text", :type => "text" %> <span class="left">Ft</span>-->
				<select name="search[price]" id="price">
					<option value="0-100000">100000 Ft/fő-ig</option>
					<option value="100000-250000">100000-250000 Ft/fő</option>
					<option value="250000-500000">250000-500000 Ft/fő</option>
					<option value="500000">500000 Ft/fő fölött</option>
				</select>
			</div>
		</div>
	</fieldset>
	<fieldset id="submit-set">
		<div class="row">
			<%= f.submit "Keresés" %> ( ~ <span id="estimate"><%= TravelOffer.count %></span> út felel meg )
		</div>
	</fieldset>
<% end %>