<section class="gyorieto" id="page-header">
	<div id="page-header-inner" data-image="/assets/category_headers/gyorieto.jpg">
			<%= image_tag "slider/gyorieto.png" %>
			<h1>Győri ETO FC stadion VIP páholyok értékesítése!</h1>
			<!-- <p>Egy igazán különleges lehetőség Barcelona rajongóknak.</p> -->
	</div>
</section>

<section id="content" class="gyorieto_inner">

<h2>Béreljen VIP páholyt és hirdetési felületet a Győri ETO FC stadionjában</h2>

<!-- <div class="center"><%= image_tag "gyorieto/11.jpg" %></div> -->

<p>4.000.000,-Ft + áfa - A kapuval és a tizenhatos vonallal egy magasságban</p>
<p>5.000.000,-Ft + áfa - A térfél közepe, a tizenhatos vonal és a kezdőkőr közötti terület</p>
<p>6.000.000,-Ft + áfa - A kezdőkörrel szemben a pálya közepén lévő páholy</p>

<div class="half">
	<%= image_tag "gyorieto/9.jpg" %>
	<%= image_tag "gyorieto/2.jpg" %>
</div>
<div class="clearfix"></div>

<h3>Szolgáltatások</h3>

<ul>
	<li>minden kategóriához azonos catering szolgáltatás,( hideg,meleg ételek, sör,bor,üdítő italok, ásvány víz, tea. kávé korlátlan fogyasztása)</li>
	<li>személyzet a catering felszolgálásához</li>
	<li>lehetőség üzleti partnerek, fogadásához a VIP-ben</li>
	<li>minden páholyhoz 16 db belépő, minden hazai mérkőzéshez, bajnoki és kupa egyaránt</li>
	<li>négy autó belső parkolási lehetősége, a VIP alatt</li>
	<li>a cég logójának, ( tábla reklámjának) kihelyezése a stadionba a TV által jól látható helyre</li>
</ul>

<p>További részletekről érdeklődjön <a href="/kapcsolat">irodánkban, illetve elérhetőségeinken</a>.</p>

<div class="half">
	<%= image_tag "gyorieto/3.jpg" %>
	<%= image_tag "gyorieto/4.jpg" %>
</div>
<div class="clearfix"></div>

<div class="half">
	<%= image_tag "gyorieto/5.jpg" %>
	<%= image_tag "gyorieto/6.jpg" %>
</div>
<div class="clearfix"></div>

<div class="half">
	<%= image_tag "gyorieto/7.jpg" %>
	<%= image_tag "gyorieto/8.jpg" %>
</div>
<div class="clearfix"></div>

<div class="half">
	<%= image_tag "gyorieto/10.jpg" %>
	<%= image_tag "gyorieto/11.jpg" %>
</div>
<div class="clearfix"></div>

</section>
