<section id="page-header">
	<div id="page-header-inner">
		<% if @travel_offer.special? %>
			<h1>Csak akkor látszom, ha kiemelt vagyok</h1>
		<% end %>
	</div>
</section>

<section id="content">
	<div id="main">
		<div id="trip-images">
			<%= link_to image_tag(@gallery + @images.first.file_name.to_s), (@gallery + @images.first.file_name.to_s), :class => 'fancybox', :id => 'curr', :alt => @travel_offer.travel_name, :rel => 'gallery' %>
			<div>
				<% @images.each do |image| %>
					<%= (link_to image_tag(@gallery + image.file_name.to_s, :width => 50), (@gallery + image.file_name.to_s), :class => 'thumb fancybox' + (image == @images.last ? ' last' : ''), :alt => @travel_offer.travel_name, :rel => 'gallery') unless image == @images.first %>
				<% end %>
			</div>
		</div>
		<div id="trip-details">
			<h2><%= @travel_offer.travel_name %></h2>
			<ul>
				<li><strong>Ország:</strong> <%= @country.name %></li>
				<li><strong>Régió:</strong> <%= @region.name %></li>
				<%= ('<li><strong>Sí régió: </strong>' + @skiregion.name + '</li>').html_safe unless @skiregion.blank? %>
				<li><strong>Utazás módja:</strong> <%= @closest_travel_time.individual == 1 ? 'Egyéni utazással' : @travel_offer.traffic.name %></li>
				<li><strong>Indulás:</strong> <%= @departure_city %></li>
				<li><strong>Időpont:</strong> <%= @closest_travel_time.from_date.to_s(:year_month_day) + " - " + @closest_travel_time.to_date.to_s(:year_month_day) %> (<%= @closest_travel_time.night %> éjszaka)</li>
				<li><strong>Ellátás:</strong> <%= @travel_offer.board.name %></li>
				<li><strong>Szoba:</strong> <%= @closest_travel_time.travel_time_type_name %></li>
				<%= ('<li><strong>Foglalási díj: </strong>' + number_to_currency(@closest_travel_time.reservation_fee.to_s, :locale => :hu, :delimiter => " ", :unit => "") + @closest_travel_time.price_measure.to_s + '</li>').html_safe unless @closest_travel_time.reservation_fee.blank? || @closest_travel_time.reservation_fee == 0 %>
				<%= ('<li><strong>Transzfer díj: </strong>' + number_to_currency(@closest_travel_time.transfer_fee.to_s, :locale => :hu, :delimiter => " ", :unit => "") + @closest_travel_time.price_measure.to_s + '</li>').html_safe unless @closest_travel_time.transfer_fee.blank? || @closest_travel_time.transfer_fee == 0 %>
				<%= ('<li><strong>Vízum díj: </strong>' + number_to_currency(@closest_travel_time.visa_fee.to_s, :locale => :hu, :delimiter => " ", :unit => "") + @closest_travel_time.price_measure.to_s + '</li>').html_safe unless @closest_travel_time.visa_fee.blank? || @closest_travel_time.visa_fee == 0 %>
				<%= ('<li><strong>Reptéri illeték: </strong>' + number_to_currency(@closest_travel_time.airport_tax.to_s, :locale => :hu, :delimiter => " ", :unit => "") + @closest_travel_time.price_measure.to_s + '</li>').html_safe unless @closest_travel_time.airport_tax.blank? || @closest_travel_time.airport_tax == 0 %>
				<%= ('<li><strong>Kerozin pótdíj: </strong>' + number_to_currency(@closest_travel_time.kerosene_charge.to_s, :locale => :hu, :delimiter => " ", :unit => "") + @closest_travel_time.price_measure.to_s + '</li>').html_safe unless @closest_travel_time.kerosene_charge.blank? || @closest_travel_time.kerosene_charge == 0 %>
			</ul>
			<h3 id="full-price">Az utazás ára: <span><%= number_to_currency(@closest_travel_time.price, :locale => :hu, :delimiter => " ", :unit => "") %><%= @closest_travel_time.note %></span></h3>
			<div id="book-wrap">
				<a class="view" href="/foglalas/<%= @closest_travel_time.id %>">Foglalás &raquo;</a>
				<a href="/egyedi/<%= @closest_travel_time.id %>">Változtatna az úton? Kérjen egyedi árajánlatot!</a>
			</div>
		</div>
	</div>

	<div id="tri-wrap">
		<% unless @fakultativs.blank? %>
			<div class="tri">
				<h3>Fakultativ Programok</h3>
				<ul>
					<% @fakultativs.each do |prog| %>
						<li><%= prog.title %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
		<% unless @inprice.blank? %>
			<div class="tri">
				<h3>Az utazás ára tartalmazza</h3>
				<ul>
					<% @inprices.each do |inprice| %>
						<li><%= inprice.name %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
		<% unless @prebooking.blank? %>
			<div class="tri">
				<h3>Előfoglalási kedvezmények</h3>
				<ul>
					<% @prebooking.each do |prebooking| %>
						<li><%= prebooking.start_date.to_s + "és" unless prebooking.start_date.blank? %>  <%= prebooking.end_date %><%= prebooking.start_date.blank? ? "-ig" : " között" %>: <%= prebooking.amount %> <%= prebooking.amount_type %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
		<% unless @child_prices.blank? %>
			<div class="tri">
				<h3>Kedvezményes ár gyermekeknek</h3>
				<ul>
					<% @child_prices.each do |cp| %>
						<li><%= cp.age_from.to_s %> éves kortól <%= cp.age_to.to_s + " éves korig" unless cp.age_to.blank? %>: <%= cp.price %> <%= cp.price_type %>. Elhelyezés: <%= cp.bed_type %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
		<% unless @good_to_knows.blank? %>
			<div class="tri">
				<h3>Jó tudni</h3>
				<ul>
					<% @good_to_knows.each do |good| %>
						<li><%= good.content %></li>
					<% end %>				
				</ul>
			</div>
		<% end %>
		<% unless @traveldays.blank? %>
			<div class="tri">
				<h3>Utazási napok</h3>
				<ul>
					<% @traveldays.each do |travelday| %>
						<li><%= travelday.name %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
	</div>
	<div id="additional-time">
		<h2>További időpontok és változatok</h2>
		<table>
			<thead>
				<tr>
					<th>Utazás időpontja</th>
					<th>Szállás</th>
					<th>Ellátás</th>
					<th>Ár</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="5">Bizonyos árak csak a szállásra vonatkoznak, vagy nem tartalmaznak minden útiköltséget. Kérjük nézze meg az ajánlat részletes árinformációit.</td>
				</tr>
			</tfoot>
			<tbody>
				<% @travel_times.each do |traveltime| %>
					<tr>
						<td><%= traveltime.from_date.to_s(:year_month_day) %> - <%= traveltime.to_date.to_s(:year_month_day) %> (<%= traveltime.night.to_s %> éjszaka)</td>
						<td><%= @travel_offer.board.name %></td>
						<td><%= traveltime.travel_time_type_name %></td>
						<td class="price"><%= traveltime.price %> <%= traveltime.price_measure %></td>
						<td><a href="/<%= @travel_offer.slug %>/<%= traveltime.slug.to_s %>">Részletek &raquo;</a></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div id="trip-description">
		<div id="text">
			<h3>Részletes leírás</h3>
			<%= @leiras %>
		</div>
		<div id="side">
			<div class="sidebox" id="services">
				<h3>Az utazás ára tartalmazza</h3>
				<ul>
					<% @inprices.each do |inprice| %>
						<li><%= inprice.name %></li>
					<% end %>
				</ul>
			</div>
			<div class="sidebox" id="sights">
				<h3>Látnivalók a közelben</h3>
				<div class="wrap">
					
					<a rel="sights" class="fancybox" href="http://wetu.com/ImageHandler/1280x1280/1481/The%20Restaurant.jpg"><div><img src="http://www.egzotikus-utazas.info/images_content/thumbnails/50x50/dubai-top-1.jpg" alt=""></div></a>
					
					<a rel="sights" class="fancybox" href="http://wetu.com/ImageHandler/1280x1280/1481/The%20Restaurant.jpg"><div><img src="http://www.caracolutazas.hu/images_content/caracol/thumbnails/50x50/Dubai.jpg" alt=""></div></a>
					
					<a rel="sights" class="fancybox" href="http://wetu.com/ImageHandler/1280x1280/1481/The%20Restaurant.jpg"><div><img src="http://external.ak.fbcdn.net/safe_image.php?d=AQCk1iIvTYg-fRbg&w=50&h=50&url=http%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Fe%2Fe1%2FDubai_2010.JPG%2F720px-Dubai_2010.JPG&crop&fallback=hub_likes&prefix=q" alt=""></div></a>

					<a rel="sights" class="fancybox" href="http://wetu.com/ImageHandler/1280x1280/1481/The%20Restaurant.jpg"><div><img src="http://www.egzotikus-utazas.info/images_content/thumbnails/50x50/dubai-top-1.jpg" alt=""></div></a>
					
					<a rel="sights" class="fancybox" href="http://wetu.com/ImageHandler/1280x1280/1481/The%20Restaurant.jpg"><div><img src="http://www.caracolutazas.hu/images_content/caracol/thumbnails/50x50/Dubai.jpg" alt=""></div></a>
					
					<a rel="sights" class="fancybox" href="http://wetu.com/ImageHandler/1280x1280/1481/The%20Restaurant.jpg"><div><img src="http://external.ak.fbcdn.net/safe_image.php?d=AQCk1iIvTYg-fRbg&w=50&h=50&url=http%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Fe%2Fe1%2FDubai_2010.JPG%2F720px-Dubai_2010.JPG&crop&fallback=hub_likes&prefix=q" alt=""></div></a>
				</div>
			</div>
		</div>
	</div>
	<div id="similar">
		<h3>Hasonló utazások</h3>
		<% @similar_offers.each do |offer| %>
			<%= link_to offer do %>
				<div class="ribbon">
					<%= Country.find(offer.destinations.first.country_id).name %> - <%= offer.min_price %> <%= offer.min_price_measure %>
				</div>
				<%= image_tag(offer.gallery_url + offer.images.first.file_name.to_s, :alt => offer.travel_name, :width => 200, :height => 200) %>
			<% end %>
		<% end %>
	</div>
</section>