<div id="country-selector" class="selector">
	<h3>Országok</h3>
	<% @selected_country ? (@selected_country == '0' ? t = ' active' : t = '') : t = ' active' %>
	<a href="<%= url_for(params.merge(:filters => {:country => 0})) %>" class="country<%= t %>">Összes</a>
	<% @p_countries.each do |country| %>
		<% @selected_country == country.id.to_s ? t = ' active' : t = '' %>
		<!-- <a href="/uticelok/<%= country.slug %>" class="country<%= t %>"><%= country.name %> <span class="count"><%= country.travel_offers_count %></span></a> -->
		<a href="<%= url_for(params.merge(:filters => {:country => country.id})) %>" class="country<%= t %>"><%= country.name %></a>
	<% end %>
	<a href="#" id="more-countries">Továbbiak <span>&#9660;</span></a>
</div>
<div id="other-countries" class="selector">
	<div>
		<h3>Európa</h3>
	<% @countries_europe.each do |country| %>
		<% if (c = country.travel_offers_count) > 0 %>
			<% @selected_country == country.id.to_s ? t = ' active' : t = '' %>
			<a href="<%= url_for(params.merge(:filters => {:country => country.id})) %>" class="country<%= t %>"><%= country.name %></a>
		<% end %>		
	<% end %>
	</div>
	<div>
		<h3>Észak-Amerika</h3>
	<% @countries_namerica.each do |country| %>
		<% if (c = country.travel_offers_count) > 0 %>
			<% @selected_country == country.id.to_s ? t = ' active' : t = '' %>
			<a href="<%= url_for(params.merge(:filters => {:country => country.id})) %>" class="country<%= t %>"><%= country.name %></a>
		<% end %>
	<% end %>
	</div>
	<div>
		<h3>Dél-Amerika</h3>
	<% @countries_samerica.each do |country| %>
		<% if (c = country.travel_offers_count) > 0 %>
			<% @selected_country == country.id.to_s ? t = ' active' : t = '' %>
			<a href="<%= url_for(params.merge(:filters => {:country => country.id})) %>" class="country<%= t %>"><%= country.name %></a>
		<% end %>
	<% end %>
	</div>
	<div>
		<h3>Ázsia</h3>
	<% @countries_asia.each do |country| %>
		<% if (c = country.travel_offers_count) > 0 %>
			<% @selected_country == country.id.to_s ? t = ' active' : t = '' %>
			<a href="<%= url_for(params.merge(:filters => {:country => country.id})) %>" class="country<%= t %>"><%= country.name %></a>
		<% end %>
	<% end %>
	</div>
	<div>
		<h3>Ausztrália</h3>
	<% @countries_australia.each do |country| %>
		<% if (c = country.travel_offers_count) > 0 %>
			<% @selected_country == country.id.to_s ? t = ' active' : t = '' %>
			<a href="<%= url_for(params.merge(:filters => {:country => country.id})) %>" class="country<%= t %>"><%= country.name %></a>
		<% end %>
	<% end %>
	</div>				
</div>