<%= form_for 'filters', :url => '', :method => "get", :html => {:id => 'filter-form'} do |f| %>
	<h3>Szűkítse az utakat</h3>
	<fieldset>
		<legend>Utazás időpontja</legend>
		<div id="filter-precise-row">
			<div>
				<%= f.label "arrival", "Érkezés" %>
				<%= f.text_field "arrival", :class => "datepicker", :type => "date", :value => (@filt[:arrival] if @filt) %>
			</div>
			<div>
				<%= f.label "departure", "Távozás" %>
				<%= f.text_field "departure", :class => "datepicker", :type => "date", :value => (@filt[:departure] if @filt) %>
				<span class="left">(<span id="filter-between">-</span> éjszaka)</span>
			</div>
			<div>
				<%= f.label "flexibility", "Rugalmasság" %>
				<%= f.select "flexibility", options_for_select([['+/- 1 nap', 1], ['+/- 3 nap', 3],['+/- 1 hét', 7],['Nincs', 0]], (@filt[:flexibility] if @filt)) %>
			</div>
		</div>
		<div id="filter-imprecise-row">
			<%= f.label "imprecise", "Körülbelül mikor utaznék" %>
			<%= f.select "imprecise", (grouped_options_for_select([['Hónapok', monthsForSelect]], (@filt[:imprecise] if @filt)) + options_for_select([['Nem tudom', 0]], (@filt[:imprecise] if @filt))) %>
		</div>
		<div>
			<%= f.label "no_date", "Nincs pontos dátumom" %>
			<%= f.check_box "no_date", { :checked => @no_date_checked} %>
		</div>
	</fieldset>
	<fieldset>
		<legend>Utazás max. ára/fő</legend>
		<div>
			<%= f.label "price_100000", ("100.000 Ft-ig" + (f.radio_button "price", '0-100000', {:checked => @price_checked['100000'.to_sym]})).html_safe %>
			<%= f.label "price_250000", ("100.000-250.000 Ft " + (f.radio_button "price", '100000-250000', {:checked => @price_checked['250000'.to_sym]})).html_safe %>
			<%= f.label "price_500000", ("250.000-500.000 Ft " + (f.radio_button "price", '250000-500000', {:checked => @price_checked['500000'.to_sym]})).html_safe %>
			<%= f.label "price_500001", ("500.000 Ft-tól " + (f.radio_button "price", '500001', {:checked => @price_checked['500001'.to_sym]})).html_safe %>
		</div>
	</fieldset>
	<% unless @belfoldiutazasok_menu == 'active' || params[:action] == 'uticelok' || @traveloffers.count == 0 %>
		<fieldset>
			<legend>Úticél</legend>
			<div>
				<%= f.label "country", "Ország" %>
				<%= f.select "country", [['-- Mindegy --', 0]] + Country.all.collect {|p| [ p.name, p.id ] }, {:selected => (@filt[:country] if @filt)} %>
			</div>
			<div>
				<!-- Ajaxosan -->
				<label for="filters_region">Régió</label>
				<select name="filters[region]" id="filters_region">
					<option value="0">-- Mindegy --</option>
					<%= options_for_select @regions.collect {|p| [p.name, p.id]}, {:selected => (@filt[:region] if @filt)} %>
				</select>
			</div>
			<div>
				<label for="filters_city">Város</label>
				<select name="filters[city]" id="filters_city">
					<option value="0">-- Mindegy --</option>
					<%= options_for_select @cities.collect {|p| [p.name, p.id]}, {:selected => (@filt[:city] if @filt)} %>
				</select>
				<!-- Ajaxosan -->
			</div>
		</fieldset>
	<% end %>
	<%= f.submit 'Frissítés' %>
<% end %>