<section id="content">
	<aside>
		<h2><%= @h2 %></h2>
		<%= render 'list/filter' %>
		<a href="#" id="totop">&uarr; oldal tetejére</a>
	</aside>
	<div id="list-wrap">
		<div class="pagination" id="pagi-t">
			<%= render "list/pagination_sort" %>
		</div>
		<div id="list">
			<%= render 'list/country_list' unless @belfoldiutazasok_menu == 'active' || params[:action] == 'uticelok' || (@traveloffers.count == 0 && params[:action] == 'kereses') %>
			<% count = 0 %>
			<% @traveloffers.each_with_index do |traveloffer, i| %>
				<!-- if traveloffer.travel_times.where("DATE(travel_times.from_date) > DATE(NOW())").any? -->
					<div class="trip">
						<%= link_to traveloffer do %>
							<div class="thumbnail">
								<span class="ribbon <%= traveloffer.ribbon[0] %>arrow_box"><%= traveloffer.ribbon[1] %></span>
								<%= (image_tag traveloffer.gallery_url + traveloffer.images.first.file_name.to_s, :height => 140, :width => 140, :alt => traveloffer.travel_name) if traveloffer.images.any? %>
							</div>
							<div class="data">
								<div class="travelname">
									<h3><%= traveloffer.travel_name %></h3>
								</div>
								<div class="traveldata">
									<span class="dates"><%= traveloffer.closest_travel_time.from_date.to_s(:year_month_day) + " - " + traveloffer.closest_travel_time.to_date.to_s(:year_month_day) %></span>
									<span class="price"><%= number_to_currency(traveloffer.min_price, :precision => 0, :unit => '', :delimiter => " ") %> <%= traveloffer.min_price_measure %>-tól, <%= traveloffer.closest_travel_time.night %> éjszaka</span>
								</div>
								<p><%= (strip_tags(truncate(traveloffer.descriptions.where(:name => "Fekvese").first.description, :length => 255))) if traveloffer.descriptions.any? %></p>
							</div>
							<%= link_to 'Részletek', traveloffer, :class => "view" %>
							<% if traveloffer.travel_times.count.to_i > 1 %>
								<p>További <strong><%= traveloffer.travel_times.count.to_i - 1 %></strong> időpont és változat</p> 
							<% end %>
						<% end %>
					</div>
					<%= render :partial => 'custom_offer' if i == 3 && @sportut == '0' %>
					<%= render :partial => 'sport_offer' if i == 3 && @sportut == '1' %>
					<% count = i+1 %>
				<!-- end -->
			<% end %>
			<%= render :partial => 'custom_offer' if count < 4 && count > 0 && @sportut == '0' %>
			<%= render :partial => 'sport_offer' if count < 4 && count > 0 && @sportut == '1' %>
			<%= render :partial => 'no_result' if count == 0 %>
		</div>
		<div class="pagination" id="pagi-b">
			<%= render "list/pagination_sort" %>
		</div>
	</div>
</section>