<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="<%= truncate(strip_tags(@description), :length => 150) %>">
  <title><%= @title %>East-West Utazási és Sport Iroda</title>
  <%= stylesheet_link_tag    "application", controller_name %>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Lobster+Two:700italic|Bree+Serif&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "modernizr-2.5.3.min.js" %>
  <%= csrf_meta_tags %>
  <!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
	</style>
<![endif]-->

</head>
<body>
<div id="wrap">
		
<header id="header">
	<nav class="clearfix">
		<div id="logo" class=""><a href="/"><%= image_tag "logo.png", :alt => "East-West Utazási és Sport Iroda" %></a></div>
		<div id="ul-wrap">
			<ul id="primary-nav">
				<li id="lastminute" class="<%= @lastminute_menu %>"><a href="/utjaink/lastminute">Last minute</a></li>
				<li id="abroad" class="<%= @kulfoldiutazasok_menu %>"><a href="/utjaink/kulfoldiutazasok">Külföldi utazások</a></li>
				<li id="sale" class="<%= @akciosutak_menu %>"><a href="/utjaink/akciosutak">Akciós utak</a></li>
				<li id="ski" class="<%= @sieles_menu %>"><a href="/utjaink/sieles">Síelés</a></li>
				<li id="boat" class="<%= @hajoutak_menu %>"><a href="/utjaink/hajoutak">Hajóutak</a></li>
			</ul>
			<ul id="secondary-nav">
				<li><a href="/utjaink/egzotikusutak">Egzotikus utak</a></li>
				<li><a href="/utjaink/belfoldiutazasok">Belföldi utazások</a></li>
				<li><a href="/utjaink/naszutak" class="<%= @naszutak_menu %>">Nászutak</a></li>
				<li><a href="/utjaink/korutazasok">Körutazások</a></li>
				<li><a href="/utjaink/varoslatogatasok">Városlátogatások</a></li>
				<li><a href="/utjaink/sportutak">Sportutak</a></li>
				<span> | </span>
				<li><a href="/kapcsolat">Kapcsolat</a></li>
				<li><a href="/biztositasok">Biztosítás</a></li>
				<!--<li><a href="#">Sportirodánk</a></li>-->
			</ul>
			<a class="animated bounceIn" href="#" id="search-button">Útkereső</a>
		</div>
	</nav>
</header>
<section id="search" class="clearfix">
	<div id="inner-search">
		<%= render 'home/top_search' %>
		<form id="simple-search" action="/kereses">
			<h2>Egyszerű keresés</h2>
			<small>Keresés az utazások szövegében</small>
			<fieldset>
				<div class="row">
					<input type="search" name="query" id="query" placeholder="pl.: előfoglalás">
				</div>
				<div class="row">
					<input type="submit" value="Keresés">
				</div>
			</fieldset>
		</form>
	</div>
</section>

<%= yield %>
</div>
<footer>
	<div id="footer-inner">
		<div class="three">
			<h3>Partnereink</h3>
			<img src="/assets/sportiroda.png" alt="East-West Sportiroda">
		</div>
		<div class="three">
			<h3>Kapcsolat</h3>
			<p><strong>Cím</strong> <a href="http://g.co/maps/xm354">1126. Budapest, Dolgos utca 2/2. (MOM Park melletti sétány)</a></p>
			<p><strong>Tel.</strong> +36-1-225-13-45, +36-30-9-147-157</p>
			<p><strong>Fax</strong> + 36-1-225-13-46</p>
			<p><strong>Nyitvatartás</strong> H-P 08:00 - 16:00</p>
		</div>
		<div class="three">
			<h3>Utazások</h3>
			<ul>
				<li><a href="/lastminute">Last minute</a></li>
				<li><a href="/kulfoldiutazasok">Külföldi utazások</a></li>
				<li><a href="/akciosutak">Akciós utak</a></li>
				<li><a href="/sieles">Síelés</a></li>
				<li><a href="/hajoutak">Hajóutak</a></li>
				<li><a href="/egzotikusutak">Egzotikus utak</a></li>
				<li><a href="/belfoldiutazasok">Belföldi utazások</a></li>
				<li><a href="/naszutak">Nászutak</a></li>
				<li><a href="/korutazasok">Körutazások</a></li>
				<li><a href="/varoslatogatasok">Városlátogatások</a></li>
				<li><a href="/sportutak">Sportutak</a></li>
			</ul>
		</div>
		<div id="misc-links">
			<a href="/kapcsolat">Kapcsolat</a>
			<a href="#">Sportirodánk</a>
			<a href="/biztositasok">Biztosítás</a>
			<a href="#">Adatvédelem</a>
		</div>
	</div>
</footer>

<%= javascript_include_tag "application" %>
<%= javascript_include_tag controller_name %>
<!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
